<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width-device-width,initial-scale-1">
	<title>Livros</title>
</head>
<body>
<h1>Livros</h1>


<table>
    <tr>
		<td>ID </td>
		<td>Autor</td>
        <td> Livro </td>
    </tr>
		

	
    <tr>

		<td> <%=livros[0].id_livro%></td>
		<td> <%=livro[0].autor%></td>
        <td> <%=livro[0].titulo%></td>
		
		
	</tr>
	
</table>
</body>
</html>
